[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
    branch = 4.x
[submodule "lib/fuzzywuzzy"]
	path = lib/fuzzywuzzy
	url = https://github.com/tmplt/fuzzywuzzy.git
    branch = master
[submodule "lib/pybind11"]
	path = lib/pybind11
	url = https://github.com/pybind/pybind11.git
    branch = master
