[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/Tmplt/spdlog.git
	branch = bookwyrm
[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "lib/fuzzywuzzy"]
	path = lib/fuzzywuzzy
	url = https://github.com/tmplt/fuzzywuzzy.git
